
      
h1 {
    text-align: center;
    margin-bottom: 3%;
}
     
h2 {
    text-align: center;
    margin-bottom: 3%;
}
h3 {
    text-align: center;
}
.formy {
    text-align: center;
}
.buttony {
    text-align: end;
}